@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,html {
    height: 100% !important;
    width: 100% !important;
}

html {
    scroll-behavior: smooth;
}

.row > * {
    flex-shrink: unset;
}

.bg-g-gray {
    background: rgb(232,232,232);
    background: -moz-linear-gradient(180deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
    background: linear-gradient(180deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#fafbfc",GradientType=1);
}

.bg-w-gray {
    background: rgb(250,251,252);
    background: -moz-linear-gradient(180deg, rgba(250,251,252,1) 24%, rgba(232,232,232,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(250,251,252,1) 24%, rgba(232,232,232,1) 100%);
    background: linear-gradient(180deg, rgba(250,251,252,1) 24%, rgba(232,232,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafbfc",endColorstr="#e8e8e8",GradientType=1);
}

.navbar {
    position: fixed;
    z-index: 10 !important;
    background: white;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px black;
        -moz-box-shadow: 0 4px 6px -6px black;
            box-shadow: 0 3px 5px -5px black;
}

a {
    color: #1a1a1a !important;
    outline: none !important;
    text-decoration: none !important;
}

.navbar-toggler {
    color: none !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:focus:active {
    color: none !important;
    border: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url('../assets/down-arrow.png') !important;
}

.navbar-brand {
    padding-left: 1.5vw !important;
    padding-right: 1.5vw !important;
    background: #1a1a1a;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: white;
}

.navbar-item {
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    font-size: larger;
    display: block;
    padding: .5rem 1rem !important;
    cursor: pointer;
    transition: all 0.1s ease-in-out !important;
}

.navbar-item:hover {
    -webkit-box-shadow: 0 3px 5px -5px black;
    -moz-box-shadow: 0 3px 5px -5px black;
    box-shadow: 0px 16px 12px -20px black;
}

.main-header {
    color: #212529;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: bolder !important;
    height: 100vh;
}

.main-header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
}

@media only screen and (min-width: 800px) {
    .section {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 768px) {
    .arami::after {
        content: "\a";
        white-space: pre;
    }

    .main-header {
        height: 65vh;
    }

    .about-me-info {
        padding-left: 3%;
    }

    .main-header-content {
        top: 40vh;
        border-radius: 5px;
        padding-left: 5px;
    }

    .main-header-content-header {
        font-size: 3.5vh;
    }

    .main-header-quote  {
        max-width: 100%;
        font-size: x-large;
        font-size: 3.5vh;
    }
}

.section {
    font-size: larger;
    text-align: center;
    width: 100%;
    font-family: 'Inconsolata', sans-serif;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
    font-family: 'Inter', sans-serif !important;
}

header {
    background: url('../assets/me.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 300px;
}

@keyframes dotmove {
    from {
       transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }

.skill {
    background: #e4e4e4;
    padding: 8px 0px 8px 0px;
    color: #1a1a1a;
    transition: all 0.5s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(99, 13, 13, 0.035) solid 1px;
    cursor: default;
}

.options {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all 0.5s;
}

.option {
    padding: 5px;
    background: rgba(233, 232, 232, 0.815);
    transition: all 0.5s;
    border-radius: 5px;
    border: rgba(99, 13, 13, 0) solid 1px;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
        box-shadow: 0 2px 5px 2px black;
}

.skill:hover, .option:hover {
    background: rgb(252, 252, 252);
}

.contact-link {
    transition: all 0.5s;
    cursor: pointer;
}

.contact-link:hover {
    background: rgba(221, 221, 221, 0.815);
}

.feedback-body {
    position: relative;
    padding: 25px;
}

.dot {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    height: 0.6rem;
    width: 0.6rem;
    margin: 0 0.5rem;
    outline: none !important;
    background-color: #1a1a1a;
    transform: scale(0.75);
    transition: all 0.4s;
}

.active-dot {
    background-color: #e4e4e4;
    font-size: 60px;
    transform: scale(1);
}

#client-name {
    color: #2d608f !important;
}

#client-name:hover {
    color: #1279da !important;
}