@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: 'Poppins' !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background: rgb(26, 25, 29);
  background: linear-gradient(180deg, rgba(26, 25, 29, 1) 0%, rgba(19, 26, 36, 1) 100%);
}
